@import "tailwindcss";

@theme {
  /* சாஃப்ட்வேருக்கான பிரத்யேக கலர் பேலட் */
  --color-pos-bg: #f4f6f9; /* சூப்பர் டார்க் பேக்ரவுண்ட் */
  --color-pos-card: #ffffff; /* கார்டு மற்றும் சைட் பார் */
  --color-pos-border: #e2e8f0; /* பார்டர் லைன்கள் */

  --color-brand-primary: #009b77; /* emerald green*/
  --color-brand-success: #10b981;
  --color-brand-warning: #f59e0b; /* ஆம்பர் மஞ்சள் - லோ ஸ்டாக் */
  --color-brand-danger: #f43f5e; /* ரோஸ் சிவப்பு - கேன்சல் / அலர்ட் */

  --color-text-primary: #0f172a; /* முக்கிய உரை */
  --color-text-secondary: #475569; /* துணை உரை */
  --color-text-muted: #94a3b8; /* மியூட்டட் உரை */
}
